{% extends 'layout.html' %}

{% block body %}
  <h1>Search</h1>
  <p>Key words: <span class="text-primary">{{key_word}}</span></p>
  <hr>
  <ul class="list-group">
    {% for result in result %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
		<a href="book/{{result.id}}"><h3>{{result.name}}</h3><small class="text-dark"> by {{result.author}}</small></a>
		<span class="badge badge-primary justify-content-end">added at {{result.import_date}}</span>
	</li>
	{% endfor %}
  </ul>
{% endblock %}
