{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <hr>
  
  <p>We aim to statisfy the needs of our customers by providing online books selling delivery services with our great prices, fast and fair shipping and live accurate online inventory.</p>
  <p>If you have any query and opinion, please feel free to contact us via:</p>
   <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
		<a href=""><h1>Payment bank account</h1><p class="text-dark">ABC Bank 5465 842 842</p></a>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		<a href=""><h1>Email</h1><p class="text-dark">info@vincentsbookstore.com</p></a>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		<a href=""><h1>Tel</h1><p class="text-dark">2455 2456</p></a>
	</li>
	</ul>

{% endblock %}
