{% extends 'layout.html' %}

{% block body %}
  <h1>Shopping Cart</h1><p class="text-primary text-left"> Welcome, {{session.username}}</p>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Book ID</th>
      <th>Price</th>
      <th>Order ID</th>
      <th></th>
    </tr>
    {% for the_book_list in the_book_list %}
    <tr>
		<td>{{the_book_list.name}}</td>
		<td>{{the_book_list.author}}</td>
		<td>{{the_book_list.id}}</td>
		<td>${{the_book_list.price}}</td>
    <td>{{the_book_list.order_id}}</td>
    <td>
      <form action="{{url_for('delete_order', id=the_book_list.order_id)}}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete" class="btn btn-danger">
      </form>
    </td>
    </tr>
    {% endfor %}
    <tr>
    <td>{% if show %}<span class="text-primary lead" >Total price: ${{total}}</span>{% endif %}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      {% if show %}<a class="btn btn-primary" href="/send-order" role="button">Confirm order</a>{% endif %}
    </td>
    </tr>
  </table>

{% endblock %}
